{% extends "header.html" %}
{% block body %}
<script>
$(function(){
    $(".crawl").click(function(){
        var prdid = this.id;
        $.ajax({
            type : "POST",
            url  : '/add/' + prdid,
            success:function( rs ){
                alert(rs);
            },
            dataType: "html",
        });
    })
})
</script>

  {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}

  <ul class="products">
  {% for p in products %}
    <li>
      <div>
        <div>
          <b>{{ p.title }}</b>
          <span>
            <!--<form action="{{ url_for('add', product_id=p.asin ) }}" method="post">-->
            <form action="" method="post">
              <input type="button" value="Add to Crawl" class="crawl" id="{{p.asin}}">
            </form>
            {% if p.crawl %}
              <a href="{{ url_for( 'show_reviews', product_id=p.asin, page=1 ) }}"> See Crawl Reviews </a>
            {% endif %}
            {% if p.delay %}
              Data Delay : {{p.delay}}
            {% endif %}
          </span>
        </div>
        <div>
          {{ p.asin }}
        </div>
        <div>
          <span>
            {% if p.price_and_currency %}
              Price: {{ p.price_and_currency[ 0 ] }} {{ p.price_and_currency[ 1 ] }}
            {% endif %}
          </span>
        </div>
        <div>
          Sales Rank: <b>{{ p.sales_rank }}</b>
        </div>
        <div>
          Publisher: {{ p.publisher }}
        </div>
        <div>
          Lanel: {{ p.label }}
        </div>
        <div>
          Brand: {{ p.brand }}
        </div>
        {% for node in p.nodes %}
          <div>
            Node: {{ node }}
          </div>
        {% endfor %}
        <div>
          <img src="{{ p.large_image_url }}" />
        <div>
          <a href="{{ p.reviews }}"> See Amazon Reviews </a>
        </div>
      </div>
    </li>
  {% else %}
    <li><em>No Products Searched</em></li>
  {% endfor %}
  </ul>

{% endblock %}
